body {
  margin: 0;
  padding: 0;
  background: red; }

.header {
  background: url("../images/header-img.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  position: relative;
  min-height: 100%;
  width: 100%;
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .header p {
    width: 35%;
    padding: 6px;
    background: #000000;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600; }

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  height: 60px;
  color: #ffffff;
  padding-right: 60px;
  font-weight: 600;
  font-size: 20px; }

.wrapper-header {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%; }

.arrow-down {
  text-align: center;
  height: 300px; }

i {
  border: solid #ffffff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px; }

.down {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
